/solana_rust/target
/solana_rust/Cargo.lock
/solana-TS/node_modules
/favorites/target
/favorites/Cargo.lock
/favorites/node_modules
/escrow/.anchor 
/escrow/.DS_Store
/escrow/target 
/escrow/**/*.rs.bk
/escrow/node_modules 
/escrow/test-ledger
/escrow/Cargo.lock
/escrow/.yarn 
/practice-4/favorites/.anchor 
/practice-4/favorites/.DS_Store
/practice-4/favorites/target 
/practice-4/favorites/**/*.rs.bk
/practice-4/favorites/node_modules 
/practice-4/favorites/test-ledger
/practice-4/favorites/Cargo.lock
/practice-4/favorites/.yarn 
/approve/.anchor 
/approve/.DS_Store
/approve/target 
/approve/**/*.rs.bk
/approve/node_modules 
/approve/test-ledger
/approve/Cargo.lock
/approve/.yarn 